<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      AppCuadrante
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-subtitle>{{this.desc_cuadrante}}</ion-card-subtitle>
      <ion-card-title>
        <ion-item (click)="buttonClick(this.fono)">
          <ion-label>
            {{this.fono}}
          </ion-label>
          <ion-icon name="call" slot="end"></ion-icon>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          {{this.comisaria}}
        </ion-label>
        <ion-icon name="business" slot="start"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="map-card">
    <div id="map"></div>
  </ion-card>
</ion-content>
